<app-header-file></app-header-file>
<div class="responsive-container-block big-container">
    <div class="responsive-container-block container">
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 img-one">
          <img alt="golden-lines.png" class="image-block bg-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/golden%20lines.png">
        </div>
        <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-12 content-one">
          <p class="text-blk section-head">
            Art Institute of Chicago
          </p>
          <p class="text-blk section-text">
            The Art Institute of Chicago is one of the most respected cultural institutions in the world. Its renowned collection of more than 300,000 works of art spans from ancient artifacts to contemporary pieces, and covers every medium and genre. With a mission to inspire and educate the public about the role of art in society, the institute offers a range of programs and events open to people of all ages and backgrounds.
          </p>
          <p class="text-blk section-text">
            Its team of passionate professionals is dedicated to preserving, studying, and sharing the treasures of the Art Institute with the world. Whether you're a seasoned art lover or new to the world of art, the Art Institute of Chicago is a must-visit destination that offers an unparalleled experience.
          </p>
        </div>
      </div>
    </div>
  </div>