<app-header-file></app-header-file>
<div class="main">
    <div class="left">
        <div class="text-box">
        <div class="house">Art Institute of Chicago</div>
        <div class="invite">invites you to</div>
        <div class="discover">Discover</div>
        <div class="spirit">the spirit of art</div>

        <button>
            <a routerLink="/about">EXPLORE THE LEGACY</a>
        </button>
    </div>
    </div>
    <div class="right">
        <div class="text-box">
           <p> We believe that art is not just decor, but a reflection of the soul.
        </p><p>
            At House of Samantaray, we take immense pride in curating the world's finest art. Our house is a sanctuary of art lovers, and we welcome you to join us on this journey of discovery.
        </p><p>
            To truly appreciate the values that our house embodies, we invite you to visit our showcase library of curated paintings.
        </p>
        </div>
        <button>
            <a routerLink="/art-view">VISIT THE SHOWCASE</a>
        </button>
    </div>
</div>
